
body{
}
label{
    display: block;
}
.myheader{
    
    background-color: transparent;
    height: 70px;
    width: 100%;
    font-size: 10pt;
    display: grid;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
li a:hover{
    color: khaki;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0;
}
li{
    margin-left: 10px;
    margin-right: 10px;
    
}
a{
    text-decoration: none;
    color: black;
    font-size: 14pt;
    cursor: pointer;
}
.body-element{
    padding-top: 75px;
    background-color: aliceblue;
    width: 50%;
    display: grid;
    margin: auto;
}
.fill-element{
    display: grid;
    margin: auto;
    width: 40%;
}
.fill-element-grid{
    display: grid;
    grid-template-rows: 1fr;
    row-gap: 10px;
}
.first-last{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.Email input,.phone input{
    width: 100%;
}
.Questions-Comments input{
    width: 100%;
    height: 100px;
}
.button{
    width: 25%;
    cursor: pointer;
}
.button a:hover{
    color: green;
}
.title{
    color: black;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.check-in-time{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.check-out-date-time{
    display: grid;
    grid-template-columns: 1fr 1fr;

}