.YOU{
text-align:center;
font-size: 35px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
padding-top: 85px;
}
.check{
    font-size: 18px;
    text-align: center;
}
.logo{
    text-align: center;
    padding-top: 20px;
}
.paragraph{
    text-align: center;
    padding-top: 20px;
}
.if{
    text-align: center;
    padding-top: 20px;
}